package components

var fullName = "Pete J. Li"

templ Homepage() {
	<html>
		<head>
			<title>{ fullName }</title>
			<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
		</head>
		<body>
			<div>{ fullName }</div>
		</body>
	</html>
}
