package components

var fullName = "Pete J. Li"

templ Homepage() {
	<html>
		<head>
			<title>{ fullName }</title>
			<link rel="icon" href="/assets/rustacean.png" type="image/png" />
		</head>
		<body>
			<div>{ fullName }</div>
		</body>
	</html>
}
